/* Importa variaveis CSS de um arquivo externo*/

@import url(variaveis.css);
/* Reset básico para remover margens,paddingf padrão e difinir boxel-model*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  font-style: var(--font-style);
  color: var(--color-text);
}
/* Estrotura principal*/

body {
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  flex: 1 1 100%; /* Ocupa 100% do espaço disponivel*/
  background: var(--Bg-color)
}

 /* header/navegação*/ 

header {
  display: flex;
  flex: 1 1 100%;
  height: 110px;
  padding: 0px 80px;
  justify-content: space-between;
  align-items: center;
 
}
/*Titulo principal no header */

header > section > h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffffff;
  
}

/*Estelização na barra de  navegação*/

nav {
  display: flex;
  gap: 50px;
  font-size: 24px;
  
}
/*Efeito hover nos links de navegação*/

header nav a {
  display: inline-block;
  position: relative;
  font-weight: 200;


}


/* Efeito sublinhado animado*/

.nav a::before,
.nav a::after{
   content: "";
   position: absolute;
   width: 0%;
   height: 100%;
   left: 0;
   z-index: -1;

}
.nav a::before{
   bottom: 1;
   border-bottom: 3px solid #161616;
   border-radius: 2px;
   transition: .2s linear;

}
.nav a::after{
    top: 0;
    background: none;
    transition: .2s linear;


}
.nav a:hover::before,
.nav a:hover::after{
   width: 100%;
}

.color1{
    color: #161616;
 }
main {
    display: flex;
    margin: 3px;
    flex: 1 1 100%;
    padding: 100px 50px;
    flex-direction: column;
   
   
}

/* base (alinhamento central) */
.base{
    display: flex;
    justify-content: center;
}
/* formulario de contato */

.contact{
    color: #ffffff;
    display: flex;
    font-size: 3rem; 
    padding: 10px;
    text-align: center;
    justify-content: center;
   

}
.gmail{
   
    display: flex;
    flex-direction: column;
    width: 20vw;
 
   
}
.gmail h1{
    font-size: 2rem;
    margin: 10px 0;
}
/* Container do campo email */
.form1{
    display: flex;
    justify-content: end;
    width: 30vw;
    color: aliceblue;
    

}
/**Campo de nome*/


.Name{
    display: flex;
    border: 2px solid #0774BB;
    background-color: #042B6B;
    font-family: Arial, Helvetica, sans-serif;
    width: 20vw;
    height: 3vw;
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
    text-decoration: overline;
   
    
}

.Btt{
    /* botões (estilos e efeitos)**/

    display: flex;
    padding: 0.8rem 2.5rem;
    min-width: 120px;
    border: none;
    outline: none;
    background-color:  #0774BB;
    cursor: pointer;
    position: relative;
    left: 0;
    z-index: 0;
    border-radius: 12px;
}

  /*campo de fundo do botão */

.Btt::after {
  
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #0774BB;
        left: 0;
        top: 0;
        border-radius: 6px;
}

.Btt::before {
        content: "";
        background:  #0774BB;
        border:2px solid #0774BB ; 
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 600%;
        z-index: -1;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        filter: blur(8px);
        border-radius: 10px;
        opacity: 0;
}

/* Animação  do brilho */


@keyframes glowing {
        0% {background-position: 0 0;}
        50% {background-position: 400% 0;}
        100% {background-position: 0 0;}
 }
 .Btt:hover::before{
    opacity: 1;
 }
 .Btt:active::after{
    background: transparent;

 }
 .Btt:active {
    color: #161616;
    font-weight: bold;

 }

 /*Alnhamento dos botões*/

.bttr{

    display: flex;
    padding: 10px;
    justify-content: end;
    
}

/** footer */
footer{
    
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    align-items: center ;
    height: 100px;
    justify-content: space-around;
   
   
}
