

/* Importa variaveis CSS de um arquivo externo*/

@import url(variaveis.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  font-style: var(--font-style);
  color: var(--color-text);
 
}

/* Estrotura principal*/

body {
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  flex: 1 1 100%;
  background: var(--Bg-color);
  
}
header {
  display: flex;
  flex: 1 1 100%;
  height: 110px;
  padding: 0px 80px;
  justify-content: space-between;
  align-items: center;
 
}

header > section > h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: sans-serif;
 
  
}
/*Estelização na barra de  navegação*/
nav {
  display: flex;
  gap: 50px;
  font-size: 24px;
  
}

/*Efeito hover nos links de navegação*/

header nav a {
  display: inline-block;
  position: relative;
  font-weight: 200;


}
.nav a::before,
.nav a::after{
   content: "";
   position: absolute;
   width: 0%;
   height: 100%;
   left: 0;
   z-index: -1;

}
.nav a::before{
   bottom: 1;
   border-bottom: 3px solid #161616;
   border-radius: 2px;
   transition: .2s linear;

}
.nav a::after{
    top: 0;
    background: none;
    transition: .2s linear;


}
/* Efeito sublinhado animado */

.nav a:hover::before,
.nav a:hover::after{
   width: 100%;
}

.color1 {
  color: #161616;
}

main {
  margin: 3px;
  display: flex;
  flex: 1 1 100%;
  padding: 100px 50px;
  flex-direction: column;
}
/* Sutítulo*/

#project{
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 5px;
  height: 100px;
  font-size: 48px;
  color: white;
}
 main section h2 {
  font-size: 32px;
  padding: 5px;
  color: rgb(255, 255, 255);
}
main section h3 {
  display: flex;
  padding: 5px;
  color: rgb(255, 255, 255);
}
main section p {
  display: flex;
  height: 180px;
  width: 40vw;
  padding: 5px;
  color: rgb(255, 255, 255);
}

/*Componetes flutuantes */

/*==========================*/

/* Div flutuate  à direita com sombra */

.divp {
  display: flex;
  float: right;
  position: relative;
  top: -250px;
  box-shadow: 2.5px 2.5px 15px #161616;
}
/* Título com posicionamento ajustado */
.h38 {
  font-size: 32px;
  position: relative;
  top: -50px;
  color: rgb(255, 255, 255);
} 

/*Card Flutuante*/

.divcard {
  display: flex;
  float: right;
  position: relative;
  top: -250px;
  box-shadow: 2.5px 2.5px 15px #161616;
}
/* texto com largura limitada */
.h39 {
  width: 30vw;
  position: relative;
  top: -30px;
  color: rgb(255, 255, 255);
}
.h40 {
  font-size: 32px;
  position: relative;
  top: -50px;
  color: rgb(255, 255, 255);
}
.h41 {
  width: 40vw;
  position: relative;
  top: -30px;
  color: rgb(255, 255, 255);
}

/*logo Flutuante*/

.divlogo {
  display: flex;
  float: right;
  position: relative;
  top: -250px;
  box-shadow: 2.5px 2.5px 15px #161616;
}

/* footer */

footer {
  margin: 3px;
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  align-items: center;
  height: 100px;
  justify-content: space-around;
  color: white;
  border-top: 1px  solid white;
}
